Repository devinslick/splunk-content-activity-checking-application: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-splunk-conf, check-version-consistency, check-app-id-consistency, check-sensitive-data, validate-lookup-tables

Path conditions:
  validate-splunk-conf: any of: \.conf$
  check-version-consistency: any of: (app\.manifest|app\.conf)$
  check-app-id-consistency: any of: (app\.manifest|app\.conf)$
  check-sensitive-data: any of: \.(conf|py|xml)$
  validate-lookup-tables: any of: (transforms\.conf|lookups/.*\.csv)$

Add standalone ingress config and configure test environment for splunk-caca namespace
  local/ingress.yaml
  local/test-environment.yaml
Due: none

Fix scheduled searches: correct mcollect syntax, escape field names, add dispatchAs owner
  RELEASE-DESCRIPTION.md
  default/savedsearches.conf
  local/local-environment.yaml
Due: validate-splunk-conf, check-sensitive-data

Fix macros: remove leading pipes to prevent duplicate pipe errors when macros are invoked
  default/macros.conf
Due: validate-splunk-conf, check-sensitive-data

Fix CACA Admin Dashboard: correct management URLs and add comment to mstats subsearch
  default/data/ui/views/caca_admin.xml
Due: check-sensitive-data

Fix saved searches
  default/savedsearches.conf
Due: validate-splunk-conf, check-sensitive-data

Fix mcollect syntax: quote metric_name values as strings
  default/savedsearches.conf
Due: validate-splunk-conf, check-sensitive-data

Fix mcollect: create metric_name field with eval instead of using as parameter
  default/savedsearches.conf
Due: validate-splunk-conf, check-sensitive-data

Fix Dashboard Views collector: use splunkd_ui_access instead of splunkd_access
  default/savedsearches.conf
Due: validate-splunk-conf, check-sensitive-data

Fix Dashboard Edits collector: use edit_ui_view action from audit logs
  default/savedsearches.conf
Due: validate-splunk-conf, check-sensitive-data

Fix saved search
  default/savedsearches.conf
Due: validate-splunk-conf, check-sensitive-data

Fix mstats macros: add metric_name filter to WHERE clause
  default/macros.conf
Due: validate-splunk-conf, check-sensitive-data

Fix dashboard errors: replace HTML entities in macros, fix row_number function, and correct mstats syntax
  default/data/ui/views/dashboard_leaderboard.xml
  default/macros.conf
Due: validate-splunk-conf, check-sensitive-data

Fix Dashboard Activity Leaderboard: expand macro to fix mstats syntax error
  default/data/ui/views/dashboard_leaderboard.xml
Due: check-sensitive-data

Fix mstats syntax error: replace avg(avg_load_time) with avg(_value)
  default/data/ui/views/dashboard_details.xml
  default/data/ui/views/dashboard_leaderboard.xml
  default/data/ui/views/poop_deck.xml
Due: check-sensitive-data

Fix 'only searches event indexes' error by inlining mstats macros
  default/data/ui/views/dashboard_details.xml
  default/data/ui/views/dashboard_leaderboard.xml
Due: check-sensitive-data

Fix dashboard description extraction in registry search
  default/savedsearches.conf
Due: validate-splunk-conf, check-sensitive-data

Fix mstats errors: add metric_name filter and inline macros
  default/data/ui/views/caca_admin.xml
  default/data/ui/views/poop_deck.xml
Due: check-sensitive-data

Fix missing metric_name filter in Gems panel
  default/data/ui/views/poop_deck.xml
Due: check-sensitive-data

Fix dashboard errors, enable scheduled searches, and add test automation job
  default/savedsearches.conf
  local/local-environment.yaml
  local/test-environment.yaml
Due: validate-splunk-conf, check-sensitive-data

Update Dashboard Performance collector to use REST API for better accuracy
  default/savedsearches.conf
Due: validate-splunk-conf, check-sensitive-data

Fix metric naming in collectors to match dashboard queries
  default/savedsearches.conf
Due: validate-splunk-conf, check-sensitive-data

Fix Dashboard Edits collector to use name/app fields instead of missing object field
  default/savedsearches.conf
Due: validate-splunk-conf, check-sensitive-data

Comprehensive rewrite: Add configurable settings and improve collectors
  default/macros.conf
  default/savedsearches.conf
  default/transforms.conf
  lookups/caca_settings.csv
Due: validate-splunk-conf, check-sensitive-data, validate-lookup-tables

Complete comprehensive rewrite: Fix dashboards, add sample data, update docs
  README.md
  default/app.conf
  default/data/ui/views/caca_admin.xml
  default/data/ui/views/dashboard_details.xml
  default/data/ui/views/dashboard_leaderboard.xml
  default/data/ui/views/poop_deck.xml
  default/indexes.conf
  default/savedsearches.conf
Due: validate-splunk-conf, check-version-consistency, check-app-id-consistency, check-sensitive-data

Fix version mismatch: Update app.manifest to v1.0.0
  app.manifest
Due: check-version-consistency, check-app-id-consistency

Fix validation issues: macros, alerts, indexes, and documentation
  README.md
  default/indexes.conf
  default/macros.conf
  default/savedsearches.conf
Due: validate-splunk-conf, check-sensitive-data

Fix AppInspect failures: Remove invalid indexes.conf settings
  README.md
  default/indexes.conf
Due: validate-splunk-conf, check-sensitive-data

Fix AppInspect: Remove index paths for Splunk Cloud compatibility
  default/indexes.conf
Due: validate-splunk-conf, check-sensitive-data

Remove indexes.conf for Splunk Cloud compatibility
  README.md
  default/indexes.conf
Due: validate-splunk-conf, check-sensitive-data

Fix AppInspect: Remove splunk_server=local and add [id] stanza
  default/app.conf
  default/savedsearches.conf
Due: validate-splunk-conf, check-version-consistency, check-app-id-consistency, check-sensitive-data

Fix version check: Remove duplicate version from [id] stanza
  default/app.conf
Due: validate-splunk-conf, check-version-consistency, check-app-id-consistency, check-sensitive-data

Restore indexes.conf and remove [id] stanza from app.conf
  default/app.conf
  default/indexes.conf
Due: validate-splunk-conf, check-version-consistency, check-app-id-consistency, check-sensitive-data

Add sc_admin role to metadata for Splunk Cloud compatibility
  metadata/default.meta
Due: none

Fix AppInspect: Set is_configured = 0 for Splunk Cloud
  default/app.conf
Due: validate-splunk-conf, check-version-consistency, check-app-id-consistency, check-sensitive-data
